.box1 {
    border: solid 2px rgb(138, 194, 138);
    background-color: rgb(138, 194, 138);
    width: 400px;
}

p {
    inline-size:auto;

}

table {
    border: solid 1px black
}
td {
    margin-right: 20%; 
}
th {
    background-color: rgb(160, 255, 231);
}